<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimalist File Browser</title>
    <!-- Подключение CSS из static -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="top-bar">
        <div class="sort-symbols">
            <span id="sort-alpha">A→Z</span>
            <span id="sort-reverse">Z→A</span>
        </div>
        <input type="text" id="search-input" placeholder="Search files and directories...">
        <div class="top-buttons">
            <button id="create-dir">Create Dir</button>
            <button id="select-btn">Select</button>
            <button id="delete-selected" style="display:none;color:#ff5555;">Delete</button>
        </div>
    </div>
    <hr class="separator">
    <!-- Контейнер для JS-рендера файлов -->
    <div class="items" id="content"></div>
</div>

<div class="context-menu" id="context-menu">
    <div id="rename">Rename</div>
    <div id="delete">Delete</div>
    <div id="download">Download</div>
</div>

<!-- Подключение JS из static -->
<script th:src="@{/js/script.js}"></script>
</body>
</html>
